@use "sass:color";

$gray-color: #7f879b;
$gray-color-dark: color.adjust($gray-color, $lightness: 20%);

$primary-color: #5755d9;
$primary-color-dark: #a8b1ff;
$link-color-dark: color.adjust(#a8b1ff, $lightness: -5%);

$alternative-color: #59bdb9;
$alternative-color-light-theme: #05a6a3;

$duckduckgo-bg: #282828;
$duckduckgo-border-color: #dfe1e5;

$google-bg: #202124;
$google-border-color-dark: #3c4043;

$brave-bg: #1e2028;

$searx-bg-dark: #202124;
$searx-border-color-dark: #3c4043;

$kagi-bg-dark: #262837;
$kagi-border-color-dark: rgba(229, 229, 229, 0.2);

$qwant-bg-dark: #2f3237;
$qwant-border-color-dark: #ffffff29;
